@using Flurl.Http;
@using ShikkhanobishBlazor.Models
@inject Blazored.LocalStorage.ILocalStorageService oLocalStore
@page "/"


<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body style="color:white">

    <br />
    <div class="">
        <div class="form-group row" style="">
            <div class="col-md-4">

            </div>
            <div class="col-md-4 shadow" style="background-color: #BCADF7; font-weight: bold; border-radius: 8px ">
                <br />
                <div>
                    <img src="/images/snImg.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 50px;height:50px;">
                </div>
                <div class="p-3">
                    <div style="text-align:center">
                        <label style="color: #fff; font-size: 24px; text-align: center">Dashboard Login</label>
                    </div>
                    <br />
                    <div class="m-1">
                        <input class="form-control " type="text" placeholder="User ID" @bind="user.name" />
                        <br />

                        <input class="form-control" type="password" @bind="user.passWord" placeholder="Password" />
                        <br />
                        <div class="m-0 p-0">
                            <input style="" class="pt-2" type="checkbox" @onclick="UserInfoSave" />&nbsp;<span style="color:white;font-size:12px;">Remember me</span>
                        </div>
                        <br />
                        <button class="form-control btn btn-outline-success" style="font-weight:bold;font-size:18px; color:#fff " @onclick="Submit">Login</button>


                        <br />

                        <span style="color:red;font-size:14px;text-align:center">@erMessage1</span>




                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>

</body>
</html>


@code{
    string erMessage1;


    UserLogin user = new UserLogin();

    List<UserLogin> ul = new List<UserLogin>();


    [Inject]
    public NavigationManager nvi { get; set; }

    protected override async Task OnInitializedAsync()
    {
        GetSavedInfo();
    }
    public async Task GetSavedInfo()
    {
        var id = await oLocalStore.GetItemAsync<string>("ID");
        var userList = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/GetDashBoardUser".GetJsonAsync<List<UserLogin>>();
        if (id != "0")
        {
            for (int i = 0; i < userList.Count; i++)
            {
                if (int.Parse(id) == userList[i].userID)
                {
                    StaticClassToPassData.thisAdmin = userList[i];
                    string redirectURL = "/Count";
                    nvi.NavigateTo(redirectURL);
                }
            }
        }

    }
    public async Task Submit()
    {
        var userList = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/GetDashBoardUser".GetJsonAsync<List<UserLogin>>();
        ul = userList;
        for (int i = 0; i < userList.Count; i++)
        {

            if (user.name == userList[i].name && user.passWord == userList[i].passWord)
            {
                await oLocalStore.SetItemAsync("name", userList[i].name);
                StaticClassToPassData.thisAdmin = userList[i];
                string redirectURL = "/Count";
                nvi.NavigateTo(redirectURL);

            }
            else
            {
                erMessage1 = "Please Enter Correct UserName and Password";
            }


        }
    }

    public async Task UserInfoSave()
    {
        var userList = await "https://api.shikkhanobish.com/api/ShikkhanobishLogin/GetDashBoardUser".GetJsonAsync<List<UserLogin>>();

        for (int i = 0; i < userList.Count; i++)
        {
            if (user.name == userList[i].name && user.passWord == userList[i].passWord)
            {
                await oLocalStore.SetItemAsync("name", userList[i].name);
                await oLocalStore.SetItemAsync("passWord", userList[i].passWord);
                await oLocalStore.SetItemAsync("ID", userList[i].userID);

            }
        }


    }

}





